body {
    margin: 0;
    text-align: center;
    font-family: "Dosis" ,sans-serif;
    font-size:150%;
}

h1 {
    color: #DB6B97;
    font-family: "Sacramento" ,cursive;
    font-size: 5.625rem; /***REM will ignore body settings. Others get inherited on top of body fontsize! DYNAMIC: 100%=16px=1em  90px=5.625rem***/
    margin: 100px auto 0; /* centers elements with widths set: top/bottom and left/right  */
}

h2 {
    color: #DB6B97;
    font-family: "Montserrat" ,sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 50px;
}

h3 {
    color: #685454;
    font-family: "Montserrat" ,sans-serif;
    font-size: 1.5rem;
}

/************************************* CLASS ***********************************/

.hr-design{
      border-top-style: none;
      border-left-style: none;
      border-right-style: none;
      border-bottom-style: dotted;
      border-color: #EBD5D5;
      border-width: 5px;
      width: 5%;
}
.top-container{
    background-color: #EBD5D5;
    padding-top: 40px;
    position: relative;
}
.middle-container{
}
.bottom-container{
    background-color: #DB6B97;
    padding-top: 25px;
    padding-bottom: 25px;
}
.profile-row{
    width: 50%;
    margin: 25px auto 100px;
    line-height: 1.5;
    text-align: center;
}
.skill-row{
    width: 45%;
    margin: 100px auto 200px;
    line-height: 1.5;
    text-align: left;
}
.contact-me{
    width: 45%;
    margin: 50px auto 40px;
    line-height: 1.5;
    text-align: center;
}
.footer-link{
    color: #EBD5D5;
}
.copyright{
    color: #EBD5D5;
    font-size: 1rem;
}
.icon-recognition{
    color: #685454;
    font-size: 1rem;
}


/********************** IMAGES: change from static to absolute ********************/
.top-cloud{
    position: absolute;
    right: 400px;
    top: 75px;
}

.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.woman{
    width: 20;
    margin-top: 100px;
    margin-bottom: 0;
}

.coffee{
    width: 20%;
    float: left;
    margin-top:50px;
}

.plant{
    width: 20%;
    float: right;
    margin-left: 30px;
}


/************************************** BUTTON *******************************/
.btn {
  background: #F999B7;
  background-image: -webkit-linear-gradient(top, #F999B7, #DB6B97);
  background-image: -moz-linear-gradient(top, #F999B7, #DB6B97);
  background-image: -ms-linear-gradient(top, #F999B7, #DB6B97);
  background-image: -o-linear-gradient(top, #F999B7, #DB6B97);
  background-image: linear-gradient(to bottom, #F999B7, #DB6B97);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #EBD5D5;
  background-image: -webkit-linear-gradient(top, #EBD5D5, #EA8A8A);
  background-image: -moz-linear-gradient(top, #EBD5D5, #EA8A8A);
  background-image: -ms-linear-gradient(top, #EBD5D5, #EA8A8A);
  background-image: -o-linear-gradient(top, #EBD5D5, #EA8A8A);
  background-image: linear-gradient(to bottom, #EBD5D5, #EA8A8A);
  text-decoration: none;
}